@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Saiba mais sobre o site entrando em contato com o <a target="_blank" href="https://www.linkedin.com/in/guilherme-felipe-ababa5163/">criador</a>.</p>
</div>
